accelerate==1.1.1
diffusers==0.30.0
deepspeed
diso==0.1.4
einops==0.8.1
https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.5cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
huggingface_hub==0.36.0
imageio==2.36.0
ipywidgets==8.1.7
jaxtyping==0.3.4
matplotlib==3.10.8
numpy==1.24.4
omegaconf==2.3.0
opencv_python_headless==4.10.0.84
pandas==2.3.3
Pillow>=11,<12
pymeshlab==2022.2.post3
pythreejs==2.4.2
pytorch_lightning==1.9.5
PyYAML==6.0.2
safetensors==0.7.0
sageattention==1.0.6
scikit-image==0.24.0
onnxruntime
rembg
tensorboard
timm==1.0.24
torchdiffeq==0.2.5
tqdm==4.66.5
transformers==4.46.0
trimesh==4.4.7
typeguard==4.3.0
wandb==0.23.1
setuptools>=80.10.2
